body, html {
  height: 100vh;
  background-color: #111111 !important;
}

.content {
  height: 100% !important;
  background-color: #111111 !important;
}

.header {
  background-color: #CC665A;
}

.header a {
  color: #F5F5E9 !important;
}

.header a.navbar-item:hover {
  background-color: #111111;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 100;
}

.ledgerHead {
  background-color: #212121;
}

.ledgerHead th {
  color: #4E9E98 !important;
}

.ledgerHead td, .ledgerHead th {
  border: 1px solid #111111 !important;
  border-width: 0 0 1px 0 !important;
}

.ledgerHead th:first-child {
  border: 1px solid #111111 !important;
  border-width: 0 1px 1px 0 !important;
}

.ledgerHead th:nth-child(5) {
  border: 1px solid #111111 !important;
  border-width: 0 1px 1px 0 !important;
}

.ledgerCell {
  background-color: #3e3e3e !important;
}

.ledgerCell td, .ledgerCell th {
  border: 1px solid #111111 !important;
  border-width: 0 0 1px 0 !important;
}

.ledgerCell td:first-child {
  border: 1px solid #111111 !important;
  border-width: 0 1px 1px 0 !important;
}

.ledgerCell td:first-child .tag {
  font-size: 0.85em;
  height: 2em;
}

.ledgerCell td:nth-child(5) {
  border: 1px solid #111111 !important;
  border-width: 0 1px 1px 0 !important;
}

.table tr:nth-child(odd) td:not(th, .ledgerMonth td) {
  background-color: #212121 !important;
}

.table tr:nth-child(odd):hover td:not(th, .ledgerMonth td, .ledgerHead td) {
  background-color: #2e2e2e !important;
}

.table .ledgerMonth td {
  background-color: #111111 !important;
  font-size: 1.5em;
}

.ledgerMonth td, .ledgerMonth th {
  border: 1px solid #111111 !important;
  border-width: 0 0 1px 0 !important;
  color: #4E9E98;
}

.ledgerCell:hover {
  background-color: #2e2e2e !important;
}

.actionBtn {
  margin-right: 0.175em;
  margin-left: 0.175em;
}

.table {
  width: 98% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 20px;
  font-size: .8em !important;
  font-weight: bold;
  background-color: #274A50;
  color: #F5F5E9 !important;
}

.debit {
  background-color: #bc6e7e !important;
  color: #F5F5E9 !important;
}

.credit {
  background-color: #398c79 !important;
  color: #F5F5E9 !important;
}

.addButton {
  color: #274A50 !important;
}

.table tbody {
  background-color: #274A50 !important;
}

.date_field {
  z-index: 100;
}